{% extends "__layout.twig" %}

{% block content %}

<div class="text-center">
    <img src="/images/404.jpg" alt="">
    <div>
        Страница не найдена! Ну ничего страшного :D
    </div>
</div>

{% endblock %}
