{% extends "__layout.twig" %}
{% import "macros.twig" as buttons %}
{% block content %}


	<h3>{{object.description}}</h3>
	<br>

	<div class="btn-group">
		{# Кнопка для информации #}
		{{ buttons.btn("Описание", '/way/' ~ object.id ~ '?show=info', true, "info") }}

		{# Кнопка для изображения #}
	{{ buttons.btn("Картинка", '/way/' ~ object.id ~ '?show=image', true, "info") }}
	</div>

		<ul class="list-group mt-4"> <li class="list-group-item">
			{% block objectContent %}{% endblock %}
		</li>
	</ul>

{% endblock %}
